<!doctype html>
<html>
	<head>
		<title>InfoCacao</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h1>InfoCacao</h1>
		<%= image_tag 'cacao_image.png' %> 
		<div>
			<h2>Los Rios</h2>
			<h3>Your average price in the last week:</h3>
			<div style="border:2px solid black ;width:123px ;height:70px ;font-size: 42pt">$500</div>
			<h3>Your weather forecast:</h3>
			<%= image_tag "forecast_image.jpg"%>
		</div>
		<% for price in @prices %>
			<h2><%= price.region %></h2>
			<p><%= price.date %></p>
			<p>$<%= price.price %> per unit</p>
		<% end %>
	</body>
</html>